;; shadow-cljs configuration
{:source-paths
 ["src/dev" "src/main" "src/test"]

 :dependencies [[reagent/reagent "0.10.0"]]

 :builds {:app {:target     :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules    {:main {:entries [chorify.core]}}


                :devtools {:preloads  []
                           :http-port 8021
                           :http-root "public"}}}}
